<!DOCTYPE html>
<html lang="en" ng-app="madlibApp" >
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<script src="script.js"></script>
	<title>ngMadLibs</title>
</head>
<body ng-controller="wordCtrl">
	<header class="header">
		<img id="happy-face" src="images/mad-lib-happy-face.png"/>
		<img id="banner" src="images/ng-mad-libs-logo.png" />
		<h1 class="title">Automate This!</h1>
	</header>
	<section class="insertwords">
		<h2>Select a gender:</h2>
		<input name="gender" id="male" type="radio" ng-model="gender" ng-click="male()" value="male" required /><label for="male">Male</label>
		<input name="gender" id="female" type="radio" ng-model="gender" ng-click="female()" value="female" required /><label for="female">Female</label>
		<h2>Provide the following words:</h2>
		<ul class="inputs">
			<li><input type="text" ng-model="Name" placeholder="Name"/></li>
			<li><input type="text" ng-model="DirtyTask" placeholder="Dirty Task ending in 'ing'"/></li>
			<li><input type="text" ng-model="ObnoxiousCelebrity" placeholder="Obnoxious Celebrity"/></li>
		</ul>
		<ul class="inputs">	
			<li><input type="text" ng-model="JobTitle" placeholder="Job Title"/></li>
			<li><input type="text" ng-model="Celebrity" placeholder="Celebrity"/></li>
			<li><input type="text" ng-model="HugeNumber" placeholder="Huge Number"/></li>
		</ul>
		<ul class="inputs">
			<li><input type="text" ng-model="TediousTask" placeholder="Tedious Task ending in 'ing'"/></li>
			<li><input type="text" ng-model="UselessSkill" placeholder="Useless Skill"/></li>
			<li><input type="text" ng-model="Adjective" placeholder="Adjective"/></li>				
		</ul>
	</section>
	<section class="results">
		<p>{{Name}} was a {{JobTitle}} who loved technology. Although {{heShe}} loved parts of {{hisHer}} job, {{heShe}} absolutely hated {{TediousTask}} and {{DirtyTask}}. So, {{Name}} met with {{hisHer}} life mentor, {{Celebrity}}, who told {{himHer}} to learn how to {{UselessSkill}} with Thinkful. Thinkful didn't offer a course on how to {{UselessSkill}}, so {{heShe}} studied programming instead.</p> 
		<p>What a great decision! With {{hisHer}} new skills, {{Name}} built a(n) {{Adjective}} robot named {{ObnoxiousCelebrity}} that not only loved {{DirtyTask}}, but did it {{HugeNumber | number}} times faster.</p>
	</section>	
</body>
</html>